@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

body{
    position: relative;
    width: 100%;
    min-height: 100vh;
    background-color: #1B1717;
    color: #EEEBDD;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
}

header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .flaescudo{
   position: relative;
   max-height: 60px; 
}

header nav ul{
    position: relative;
    display: flex;
}

header nav li{
    list-style: none;
}

header nav li a{
    color: #EEEBDD;
    display: inline-block;
    text-decoration: none;
    font-weight: 500;
    font-size: 19px;
    margin-left: 100px;
    transition: all 300ms;
}

header nav li a:hover{
    color: #CE1212;
}

.circle{
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: #810000;
    clip-path: circle(40% at bottom left);
}

.circle2{
    position: absolute;
    top: 0;
    right: 25%;
    width: 100%;
    height: 100%;
    background-color: #E64848;
    clip-path: circle(25% at bottom);
}

.gabigol{
    position: absolute;
    top: 20vh;
    left: 2vw;
    width: 45%;
}

#content{
    position: absolute;
    right: 85px;
    top: 160px;
    display: flex;
}

#content .text{
    max-width: 600px;
}

#content .text h2{
    color: #EEEBDD;
    font-size: 3em;
    margin-bottom: 5px;
    line-height: 2em;
    font-weight: 700;
}

#content .text h2 span{
    font-size: 3em;
    color: #CE1212;
}

#content .text p{
    font-size: 18px;
    color: #EEEBDD;
}

#content .text a{
    background-color: #810000;
    display: inline-block;
    margin-top: 2em;
    padding: 10px 25px;
    color: #EEEBDD;
    font-weight: 500;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 1px;
    border-radius: 40px;
    transition: 0.3s ease-in-out;
}

#content .text a:hover{
    background-color: #CE1212;
}

#social-media ul{
    position: absolute;
    display: flex;
    right: 100px;
    bottom: 30px;
}

#social-media ul li{
    list-style: none;
    font-size: 17px;
    margin-left: 50px;
}

#social-media ul i{
    color: #EEEBDD;
    text-decoration: none;
    background-color: #222;
    padding: 15px;
    border-radius: 50%;
    transition: 0.3s ease-in-out;
}

#social-media ul i:hover{
    color: #CE1212;
}